
.logo {
  width: auto;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-right: 20px;  /* space between logo and links */
}

nav a {
  color: #2E383A;
  margin-right: 15px;  /* space between links */
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
