
.logo {
  width: auto;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-right: 20px;  /* space between logo and links */
}

nav a {
  color: #2E383A;
  margin-right: 15px;  /* space between links */
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  background: linear-gradient(135deg, #228BE6, #425f95 );
  color: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.card p {
  margin: 4px 0;
}

.card hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 8px;
}
