.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* always 2 columns */
  gap: var(--mantine-spacing-lg);
}

@media (max-width: 640px) {
  .root {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

.stat {
  display: flex;
  flex-direction: column;
}

.count {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 4px;
}

.title {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin-bottom: 8px;
  
}

.description {
  font-size: 14px;
  color: var(--mantine-color-dimmed);
}